/*
메인 색상
#937DC2 rgb(147, 125, 194)
#C689C6 rgb(198, 137, 198)
#E8A0BF rgb(232, 160, 191)
#FCC5C0 rgb(252, 197, 192)
*/
.admin-member-tbl-box > table {
  width: 100%;
  border-spacing: 0;
}
.admin-member-tbl-box > table td {
  text-align: center;
  padding: 5px;
  border: 1px solid #eee;
}
.admin-member-tbl-box > table > thead td {
  background-color: #937dc2;
  color: #fff;
}
.admin-paging-wrap {
  margin-top: 50px;
}
.admin-board-tbl > table {
  width: 100%;
  border-spacing: 0;
}
.admin-board-tbl td {
  text-align: center;
  padding: 10px 5px;
}
.admin-board-tbl td.title-td {
  text-align: left;
}
.admin-board-tbl td.title-td > div {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-board-tbl > table > thead td {
  border-bottom: 2px solid #937dc2;
  border-top: 2px solid #937dc2;
  color: #937dc2;
  font-family: ns-b;
}
.admin-board-tbl > table > tbody td {
  border-bottom: 1px solid #eee;
}
.status-td .PrivateSwitchBase-input + span {
  color: #fff;
}
.status-td .PrivateSwitchBase-input:checked + span {
  color: #937dc2;
}
.status-td .MuiSwitch-track {
  background-color: #937dc2;
}
.status-td
  .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #937dc2;
}
