/*
메인 색상
#937DC2 rgb(147, 125, 194)
#C689C6 rgb(198, 137, 198)
#E8A0BF rgb(232, 160, 191)
#FCC5C0 rgb(252, 197, 192)
*/
@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-eb;
  src: url(/public/font/NotoSansKR-ExtraBold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: ns-r;
  color: #1e1e1e;
}
a {
  text-decoration: none;
}
header {
  border-bottom: 1px solid #937dc2;
  padding: 10px 0;
}
.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > ul {
  list-style-type: none;
  display: flex;
  width: 600px;
}
.nav > ul > li {
  width: calc(100% / 4);
  text-align: center;
  padding: 5px 0;
}
.nav > ul > li > a {
  color: #c689c6;
  font-family: ns-b;
}
.main-logo > a {
  font-size: 32px;
  font-family: ns-black;
  color: #937dc2;
}
.header-link {
  display: flex;
  align-items: center;
  height: 50px;
}
.header-link > a {
  margin-left: 30px;
}
.header-link > a > span {
  font-size: 30px;
  color: #937dc2;
}
.footer {
  padding: 50px;
  background-color: #eee;
}
.footer-content {
  width: 1200px;
  margin: 0 auto;
}
.footer-contet > * {
  font-size: 14px;
}
.footer-content > ul {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 20px;
}
.footer-content > ul > li {
  float: left;
  padding-right: 20px;
}
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
