.join-wrap {
  width: 500px;
  margin: 0 auto;
  padding: 30px;
}
.join-title {
  text-align: center;
  font-family: ns-eb;
  font-size: 30px;
  color: #937dc2;
  padding: 30px;
}
.join-input-wrap {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.join-input-wrap > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.join-input-wrap > div > .label {
  width: 30%;
}
.join-input-wrap > div > .label > label {
  font-size: 1.1em;
  font-family: ns-b;
  color: #937dc2;
}
.join-input-wrap > div > .input {
  width: 70%;
}
